<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.email %>!</h1>
    <p>Use the following <a href="https://batonapp.herokuapp.com/password/reset?token=<%= @user.reset_password_token %>">Link</a></p>
  </body>
</html>